#
# Extra config
#

# Reset CONFIG_LOCALVERSION
CONFIG_LOCALVERSION="-xiaomi-nabu-tmm"
CONFIG_LOCALVERSION_AUTO=n


CONFIG_ISO9660_FS=y
CONFIG_UDF_FS=y

#
# DOS/FAT/EXFAT/NT Filesystems
#
CONFIG_FAT_FS=y
# CONFIG_MSDOS_FS is not set
CONFIG_VFAT_FS=y
CONFIG_FAT_DEFAULT_CODEPAGE=437
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_EXFAT_FS=y
CONFIG_EXFAT_DEFAULT_IOCHARSET="utf8"
CONFIG_NTFS3_FS=m
CONFIG_NTFS3_64BIT_CLUSTER=y
CONFIG_NTFS3_LZX_XPRESS=y
CONFIG_NTFS3_FS_POSIX_ACL=y
CONFIG_NTFS_FS=m

# USB audio
CONFIG_SND_USB=y
CONFIG_SND_USB_AUDIO=y

# SND_SEQ & MIDI
CONFIG_SND_SEQ_DEVICE=y
CONFIG_SND_SEQUENCER=y
CONFIG_SND_SEQ_MIDI_EVENT=y
CONFIG_SND_SEQ_MIDI=y
CONFIG_SND_SEQ_UMP=y
CONFIG_SND_RAWMIDI=y

# Testing serial USB terminal
#CONFIG_USB_DWC3=y
#CONFIG_USB_DWC3_QCOM=y
#CONFIG_USB_CONFIGFS=y
#CONFIG_USB_CONFIGFS_SERIAL=y
#CONFIG_USB_CONFIGFS_ACM=y
#CONFIG_SERIAL_MSM_GENI=y
#CONFIG_SERIAL_MSM_GENI_CONSOLE=y
CONFIG_USB_G_SERIAL=y
CONFIG_U_SERIAL_CONSOLE=y
CONFIG_USB_U_SERIAL=y
CONFIG_USB_QCOM_8150_PHY=y
CONFIG_USB_DWC3_QCOM=y
CONFIG_USB_CONFIGFS_ACM=y
